<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for visiting our site, <%= @user.first_name %>!</h1>
    <p>Here is the project that you requested:</p>
    <hr>
   	<h2><%= @project.title %></h2>
   	<h4><%= @project.description %></h4>
	<h2>Supplies</h2>

	<ul class="no-bullet">
		<% @project.ingredients.each do |ing|%>
			<li>
				<% if ing.availability %>
					<input type="checkbox" class="shopify_cart" data-shopifyid = <%= ing.shopify_id %> data-quantity = <%= ing.unit_size %>>
						<h5 style="display:inline;"><%= ing.unit_size %> <%= ing.unit_measure %>  <%= ing.name %></h5>
					</input>
				<% else %>
						<h5><%= ing.unit_size %> <%= ing.unit_measure %>  <%= ing.name %></h5>
				<% end %>
			</li>
		<% end %>	
	</ul>

  <h4>Steps: </h4>
  <% @project.steps.each do |step| %>
    <%= step.ordinal %>
    <%= step.content %>
  <% end %>

  </body>
</html>