<div id='<%= "read-conversation#{conv.id}" %>' class="row" data-conv-id=<%= conv.id %>>
	<div class="large-1 columns">
		<p><%= conv.messages.length %></p>
	</div>

	<div class="large-2 columns no-collapse">
		<% if conv.new_message == current_user.id %>
			<p>NEW!!!</p>
		<% end %>
	</div>

	<div class="large-2 columns">
		<% if current_user.id == conv.receiver %>
			<%= User.find(conv.user_id).full_name %>
		<% else %>
			<%= User.find(conv.receiver).full_name %>
		<% end %>
	</div>
	<div class="large-5 columns">
		<p><%= link_to(conv.subject, "javascript:null", :id => "read-conversation-#{conv.id}") %></p>
	</div>
	<div class="large-2 columns">
		<p><%= conv.messages.last.created_at %></p>
	</div>
</div>

<script>
	$(document).ready(function() {
		var convId = <%= conv.id %>
		var selector = '#read-conversation' + convId;
		var isNewMsg = <%= conv.new_message == current_user.id %>

		$(selector).click(function(){
	    $("#messages"+$(this).data("conv-id")).slideToggle('slow', function(){
	    });

	  	if(isNewMsg){
	  		console.log('hello');
	  		$.ajax({
	  			method: 'PUT',
	  			url: '/update_new_message/' + convId
	  		});
		    // <%#= conv.update_attributes(new_message: nil) %>
	    }

	  });
	 });

</script>