<div id='<%= "read-conversation#{conv.id}" %>' class="row alternating-color" data-conv-id=<%= conv.id %>>

		<% if current_user.id == conv.receiver %>
			<div class="large-3 columns">
				<%= link_to(image_tag(conv.user.avatar, width: '30%'), "/users/#{conv.user_id}", class: "center-inbox-text") %> <p style="display:inline">&nbsp;&nbsp;</p>
				<%= link_to(conv.user.full_name, "/users/#{conv.user_id}", class: "center-inbox-text") %>
			</div>

		<% else %>
			<div class="large-3 columns center-inbox-text">
				<%= link_to(image_tag(User.find(conv.receiver).avatar, width: '30%'), "/users/#{conv.receiver}", class: "center-inbox-img") %> <p style="display:inline;">&nbsp;&nbsp;</p>
				<%= link_to(User.find(conv.receiver).full_name, "/users/#{conv.receiver}", class: "center-inbox-text")%>
			</div>
		<% end %>

	<div class="large-6 columns">
		<p><%= link_to(conv.subject, "javascript:null", :class => "center-inbox-text", :id => "read-conversation-#{conv.id}") %></p>
	</div>
	<div class="large-3 columns">
		<p class="center-inbox-text"><%= conv.messages.last.created_at %></p>
	</div>
</div>

<script>
	$(document).ready(function() {
		var convId = <%= conv.id %>
		var selector = '#read-conversation' + convId;
		var isNewMsg = <%= conv.new_message == current_user.id %>

		$(selector).click(function(){
	    $("#messages"+$(this).data("conv-id")).slideToggle('slow', function(){
	    });

	  	if(isNewMsg){
	  		console.log('hello');
	  		$.ajax({
	  			method: 'PUT',
	  			url: '/update_new_message/' + convId
	  		});
	    }
	  });

		<% if conv.new_message == current_user.id %>
			$(selector).css("background", "#B9BAA3");
			$(selector+" a").css("color","black");
		<% end %>

	 });

</script>