<div class="profile-user-info">
	<div class="user-info">
	  <%= image_tag(@user.avatar) %>
  </div>
	<div class="user-info">
	  <% if current_user.id != params[:id].to_i %>	
			<h2 id="profile-name"><%= @user.full_name %>  <a href="#new-conversation" rel="conversationModal"><%= image_tag("/svg/mail3.svg", width:'35px') %></a></h2>
		<% else %>
			<h2><%= @user.full_name %></h2>
		<% end %>
	</div>
</div>

<%= render "new_conversation_modal" %>
