<div class = "panel messages" id='<%= "messages#{conv.id}" %>' style="display:none;">

	<div class="row">

		<% if current_user.id == conv.user_id %>
			<div class="large-7 columns"><p id="message-title">Your conversation with <%= User.find(conv.receiver).full_name %>:</p></div>
		<% else %>
			<div class="large-7 columns"><p id="message-title">Your conversation with <%= conv.user.full_name %></p></div>
		<% end %>
		<div class="large-5 column align-right">
			<a href='<%= "#reply#{conv.id}" %>' rel='<%= "reply#{conv.id}Modal" %>' id='<%= "reply-button-#{conv.id}" %>' class="button reply-button">Reply</a>		
		</div>

	</div>

	<div id='<%= "read-message-#{conv.id}" %>'>
		<% conv.messages.order(created_at: :desc).each do |message| %>
			<div class="row">
				<div class="large-2 columns">
					<%= link_to(image_tag(message.user.avatar, width: '30%'), "/users/#{message.user.id}") %>
				</div>
				<div class="large-6 columns">
					<p><%= message.body %></p>
				</div>
				<div class="large-4 columns align-right">
					<p><%= message.created_at %></p>
				</div>
			</div>
		<% end %>
	</div>
	<br>

	<%= render partial: "reply_modal", collection: @conversations, locals: {conv: conv} %>

</div>

<script>
	$(function($){

		$('<%= "a[rel*=reply#{conv.id}Modal]" %>').leanModal({ top : 200, overlay : 0.4});

		function createReply(data){
	    return '<div class="row"><div class="large-2 columns">'+ 
	    '<a href="/users/' + data.user_id + '"><img alt="Picture" src="' + $("#avatar").data("avatar") + '", width= "30%"></img></a>' + 
	    '</div><div class="large-6 columns">' + 
	    '<p>' + data.body + '</p>' + 
	    '</div><div class="large-4 columns align-right">' + 
	    '<p>' + data.created_at + '</p>' + 
	    '</div></div>'
	  }

	  $('<%= "#new_message_#{conv.id}" %>').on("ajax:success", function(e, data, status, xhr){
	    $(".reply").css("display","none");
	    $("#lean_overlay").css("display","none");
	    $("#message_body").val("");
	    $('<%= "#read-message-#{conv.id}" %>').prepend(createReply(data));
	  })

	})
</script>

