<div id="new-conversation" style="display: none;">
	<div id="modal-container-conv">

		<%= form_for Conversation.new, remote: true do |f| %>
		  <%= f.text_field :subject, placeholder: "Subject" %>

	    <%= f.fields_for Message.new do |m| %>
	      <%=m.text_field :body, placeholder: "Message" %>
	    <% end %>

		  <%= f.hidden_field :receiver, :value => @user.id %>
		  <%= f.hidden_field :read, :value => false %>
		  <%= f.hidden_field :user_id, :value => current_user.id %>
		  <%= f.submit "Send", id: "reply-button", class: "button" %>
		<% end %>

	</div>
</div>