<div class = "large-4 columns section">
  <% @user_projects.each do |proj| %>
    <div class = "row section">
      <% @user_project = proj %>
      <h4><strong><%= proj.project.title %> </strong></h4>
      <% proj.project.images.each do |img| %>
        <% @images = [] %>
        <% @images << img.original %>
      <% end %> 
        <%= image_tag(@images.first, width: '300px') %>
        <li><%=link_to "Favourited", favourited_path(proj), method: "post" %>
        <%= @user_project.favourited %></li> 
        <li><%=link_to "Completed", completed_path(proj), method: "post" %>
        <%= @user_project.completed %></li> 
    </div>
  <% end %>
</div>


