<% projects = 1 %>
<% @user_projects.each do |proj| %>
  <% if projects % 3 == 0 %>
    <div class="row">
  <% end %>
  <div class="large-4 columns">

    <h3><strong><%= proj.project.title %> </strong></h3>
      <% if !proj.project.images.empty? %>
        <div class="project-image">
          <%= image_tag("#{proj.project.images.first.original_url}", width: '300px') %>
        </div>
      <% end %>
      <% if current_user == @user %>
        <div class="project-icons">
        <div class="project-heart">
          <% if proj.favourited%>
              <%=link_to(image_tag("/svg/heart213_hover.png"), favourited_path(proj), method: "post", class: "favourited", remote: true) %>
          <%else%>
             <%=link_to(image_tag("/svg/heart213.svg"), favourited_path(proj), method: "post", remote: true) %>
          <%end%>
        </div>

        <div class="project-checked">
          <% if proj.completed%>
            <%=link_to(image_tag("/svg/checkmark4.svg"), completed_path(proj), method: "post", class: "completed", remote: true) %>
          <%else%>
            <%=link_to(image_tag("/svg/delete38.svg"), completed_path(proj), method: "post", remote: true) %>
         <%end%>
       </div>
     
      <% else %>
        <div class="project-heart"><%= image_tag("/svg/heart213red.svg") %></div>
        <div class="project-checked"><%= image_tag("/svg/checkmark4.svg") %></div>
      <% end %>
       <div class="project-comments"><%= image_tag("/svg/chat34.svg") %></div>

       <h3>Comments:</h3>
       <% proj.user.comments.each do |comment| %>
        <li><%= comment.content %>
        <%= comment.project ? comment.project.title : "" %> </li>
        <% end %>
      </div>
    </div>

     
     <% if projects % 3 == 0 %>
      </div>
    <% end %>
    <% projects += 1 %>
<% end %>
</div>