<% @user_projects.each do |proj| %>

  <div class="category">
    <h3 class="profile-title"><%= proj.title %></h3>
    <% if !proj.images.empty? %>
       <%= image_tag("#{proj.images.first.original_url}", width: '300px') %>
    <% end %>

    <% if current_user == @user %>
      <div class="row profile-icons">

        <div class="large-4 columns">
          <!-- total number of times this project was favourited -->
          <% if proj.user_projects.where(user_id: current_user.id).first && proj.user_projects.where(user_id: current_user.id).first.favourited %>
            <%= link_to('javascript:null', :class => "favourited-by-user", :title => "Unfavourite this project.", "data-id" => proj.id) do %>
              <div class="favourited-true-pro" id="favourited-true<%= proj.id %>"></div>
            <% end %>
          <% else %>
            <%= link_to('javascript:null', :class => "favourited-by-user", :title => "Favourite this project.", "data-id" => proj.id) do %>
              <div class="favourited-false-pro" id="favourited-false<%= proj.id %>"></div>
            <% end %>
          <% end %>
        </div>

        <div class="large-4 columns">
          <!-- total number of times this project was favourited -->
          <% if proj.user_projects.where(user_id: current_user.id).first && proj.user_projects.where(user_id: current_user.id).first.completed %>            
            <%= link_to('javascript:null', :id => "completed-by-user", :title => "Mark this project as completed.") do %>
              <div class="completed-true-pro" id="completed-true<%= proj.id %>"></div>
            <% end %>
          <% else %>
            <%= link_to('javascript:null', :id => "completed-by-user", :title => "Mark this project as completed") do %>
              <div class="completed-true-pro" id="completed-false<%= proj.id %>"></div>
            <% end %>
          <% end %>
        </div>

        <div class="large-4 columns no-collapse">
          <%= image_tag("/svg/chat34.svg", width: "32px") %>
          <%= current_user.comments.where(project_id: proj.id).length %>
        </div>

      </div>
      <% if current_user.comments.where(project_id: proj.id).length > 0 %>
        <h4>Your comments:</h4>
      <% end %>
      <ul>
        <% current_user.comments.where(project_id: proj.id).each do |comment|%>
          <li><%= comment.content %> (<%= comment.created_at.to_datetime.strftime("%m/%d/%Y") %>)</li>
        <% end %>
      </ul>


    <% else %>

      <div class="row">

        <div class="large-4 columns">
          <!-- total number of times this project was favourited -->
          <% if proj.user_projects.where(user_id: @user.id).first && proj.user_projects.where(user_id: @user.id).first.favourited %>
            <div class="favourited-true-pro"></div>
          <% else %>
            <div class="favourited-false-pro"></div>
          <% end %>
        </div>

        <div class="large-4 columns">
          <!-- total number of times this project was favourited -->
          <% if proj.user_projects.where(user_id: @user.id).first && proj.user_projects.where(user_id: @user.id).first.completed %>            
            <div class="completed-true-pro"></div>
          <% else %>
            <div class="completed-false-pro"></div>
          <% end %>
        </div>

        <div class="large-4 columns no-collapse">
          <%= image_tag("/svg/chat34.svg", width: "32px") %>
          <%= @user.comments.where(project_id: proj.id).length %>
        </div>

      </div>
      <% if @user.comments.where(project_id: proj.id).length > 0 %>
        <h4>Comments:</h4>
      <% end %>
       <ul>
        <% @user.comments.where(project_id: proj.id).each do |comment|%>
          <li><%= comment.content %> (<%= comment.created_at.to_datetime.strftime("%m/%d/%Y") %>)</li>
        <% end %>
      </ul>

    <% end %>

  </div>

  <script>
  // $(function($){

  //   var selectorTrue = "#favourited-true"+'<%= proj.id %>'
  //   var selectorFalse = "#favourited-false"+'<%= proj.id %>'

  //   $(selector).on("click", function(){
  //     <% if proj.user_projects.where(user_id: current_user.id).first && !proj.user_projects.where(user_id: current_user.id).first.favourited %>
  //       <%= proj.user_projects.where(user_id: current_user.id).first.update_attributes(:favourited => true) %>
  //     <% elsif proj.user_projects.where(user_id: current_user.id).first && proj.user_projects.where(user_id: current_user.id).first.favourited %>
  //       <%= proj.user_projects.where(user_id: current_user.id).first.update_attributes(:favourited => false) %>
  //     <% end %>
  //   });

  //   $("#favourited-false<%= proj.id %>").on("click", function(){
  //     <% if proj.user_projects.where(user_id: current_user.id).first && !proj.user_projects.where(user_id: current_user.id).first.favourited %>
  //       <%= proj.user_projects.where(user_id: current_user.id).first.update_attributes(:favourited => true) %>
  //     <% elsif proj.user_projects.where(user_id: current_user.id).first && proj.user_projects.where(user_id: current_user.id).first.favourited %>
  //       <%= proj.user_projects.where(user_id: current_user.id).first.update_attributes(:favourited => false) %>
  //     <% end %>
  //   });
  // });

</script>

<% end %>
