<% @user_projects.each do |proj| %>
    <li><h4><strong><%= proj.project.title %> </strong></h4>
      <% if !proj.project.images.empty? %>
        <%= image_tag("#{proj.project.images.first.original_url}", width: '300px') %>
      <% end %>
      <% if current_user == @user %>
        <% if proj.favourited%>
            <%=link_to(image_tag("/svg/heart213_hover.png"), favourited_path(proj), method: "post", class: "favourited", remote: true) %>
        <%else%>
           <%=link_to(image_tag("/svg/heart213.svg"), favourited_path(proj), method: "post", remote: true) %>
        <%end%>
        <% if proj.completed%>
          <%=link_to(image_tag("/svg/checkmark4.svg"), completed_path(proj), method: "post", class: "completed") %>
        <%else%>
          <%=link_to(image_tag("/svg/delete38.svg"), completed_path(proj), method: "post") %>
       <%end%>
     
      <% else %>
        <%= image_tag("/svg/heart213red.svg") %>
        <%= image_tag("/svg/checkmark4.svg") %>
      <% end %>

    </li>
<% end %>