<!DOCTYPE html>
<html>
<head>
  <style>
  </style>
</head>
<body>
       <%= render 'home/login' %>
    <div>
      <%= render 'home/showcased' %>
    </div>
    <div>
       <%= render 'home/popular' %>
    </div>
    <div>
       <%= render 'home/popular' %>
    </div>
    <div>
       <%= render 'home/popular' %>
    </div>
    <h4>All Categories:</h4>
     <div class="categories">
       <ul>
          <li>stuff</li>
          <li>stuff</li>
          <li>stuff</li>
        </ul>
      </div>
      <div class="categories">
        <ul>
          <li>stuff</li>
          <li>stuff</li>
          <li>stuff</li>
        </ul>
      </div>
      <div class="categories">
        <ul>
          <li>stuff</li>
          <li>stuff</li>
          <li>stuff</li>
        </ul>
     </div>

  </body>
</html>
