<div class = 'section'>
	<%= image_tag("/svg/chat35.svg", :alt => "Comments", :width => 30, :height => 30, :title => "Comments") %>
	<p><%= @all_comments.length %> comments </p>

	<% if @user_project && @user_project.favourited %>
		<div id="favourited-true"></div>
	<% else %>
		<a href='javascript:null' id="favourited-by-user"><div id="favourited-false"></div></a>
	<% end %>
	<p><span id="favourite-count"><%= @fav_count %></span> favourited </p>

	<%= image_tag("/svg/checkmark4.svg", :alt => "Completed", :width => 30, :height => 30, :title => "Favourited") %>
	<p><%= @comp_count %> projects completed</p>
</div>

<script>
// This script should go into a js.erb partial (e.g., toggle.js.erb) and included using javascript_include_tag("toggle.js.erb") in this view (it is dependent on the local variables in this view). To include this file, it will need to live in the public/javascripts directory, which for now, I would prefer to have closer to where it is needed for debugging purposes.
	$(function($){
		$("#favourited-by-user").on("click", function(){
		  <% if @user_project %>
			  <%= @user_project.update_attributes(:favourited => true) %>
		  <% else %>
			  <%= current_user.user_projects.create(project_id: @project.id, favourited: true) %>
		  <% end %>
		});
	});
</script>
