<div class = 'section'>
	<%= image_tag("/svg/chat35.svg", :alt => "Comments", :width => 30, :height => 30, :title => "Comments") %>
	<p><%= @all_comments.length %> comments </p>
	<%= image_tag("/svg/heart213.svg", :alt => "Favourited", :width => 30, :height => 30, :title => "Favourited") %>
	<p><%= @fav_count %> favourited </p>
	<%= image_tag("/svg/checkmark4.svg", :alt => "Completed", :width => 30, :height => 30, :title => "Favourited") %>
	<p><%= @comp_count %> projects completed</p>
</div>
