<div class = 'comments section'>

	<h3>Comments</h3>
	<hr>
	<div id="load-comments">
		<% @all_comments.each do |comment| %>
				<%= image_tag(comment.user.avatar, width: '10%') %>	
					<%= comment.user.first_name %> <%= comment.user.last_name %>					
					<%= comment.content %>		
					<small>(<%= comment.commentable_type %>)</small>		
			<hr>
		<% end %>
	</div>

	<%= form_for Comment.new(commentable_id: @project.id, commentable_type: "Project", user_id: current_user.id), html: {class: "form"}, remote: true do |f| %>
	  <%= f.text_area :content, placeholder: "Comment on this project" %>
	  <%= f.hidden_field :commentable_type %>
	  <%= f.hidden_field :commentable_id %>
	  <%= f.hidden_field :user_id %>
	  <%= f.submit "Comment", class: "button", id: "add-comment" %>
	<% end %>

</div>