<div class = 'comments section'>

	<h3>Comments</h3>

	<table>
		<% @all_comments.each do |comment| %>
			<tr>
				<td>
					comment.content		
				</td>
			</tr>
		<% end %>

	</table>


	<%= form_for @project.comments.new, html: {class: "form"} do |f| %>
	  <%= f.text_area :content %>
	  <%= f.hidden_field :commentable_type %>
	  <%= f.hidden_field :commentable_id %>
	  <%= f.submit "Comment" %>
	<% end %>

</div>