<div class = 'section'>
	<div class="row">
		<%= render 'projects/community_comments' %>
		<%= render 'projects/favourited' %>
	 	<%= render 'projects/completed' %>
	</div>

	<div class="row">
		<div class="large-4 columns">
			<p><%= @all_comments.length %> </p>
		</div>
		<div class="large-4 columns">
			<p><span id="favourite-count"><%= @fav_count %></span> </p>
		</div>
		<div class="large-4 columns">
			<p><span id="complete-count"><%= @comp_count %></span> </p>
		</div>
	</div>

</div>

<script>
// This script should go into a js.erb partial (e.g., toggle.js.erb) and included using javascript_include_tag("toggle.js.erb") in this view (it is dependent on the local variables in this view). To include this file, it will need to live in the public/javascripts directory, which for now, I would prefer to have closer to where it is needed for debugging purposes.
	$(function($){
		$("#favourited-by-user").on("click", function(){
		  <% if @user_project && !@user_project.favourited %>
			  <%= @user_project.update_attributes(:favourited => true) %>
			<% elsif @user_project && @user_project.favourited %>
				<%= @user_project.update_attributes(:favourited => false) %>
		  <% elsif current_user %>
			  <%= current_user.user_projects.create(project_id: @project.id, favourited: true) %>
		  <% end %>
		});

		$("#completed-by-user").on("click", function(){
		  <% if @user_project && !@user_project.completed %>
			  <%= @user_project.update_attributes(:completed => true) %>
			<% elsif @user_project && @user_project.completed %>
			  <%= @user_project.update_attributes(:completed => false) %>
		  <% elsif current_user %>
			  <%= current_user.user_projects.create(project_id: @project.id, completed: true) %>
		  <% end %>
		});
	});
</script>
