<div class = 'section'>

	<h5>Difficulty: <%= @project.difficulty %></h5>
	<h5>Time to complete: <%= @project.duration %></h5>
	<h5>Makes: <%= @project.batch_size %>  <%= @project.batch_unit %></h5>

	<h5>Rating: <%= rating_for @project, "overall" %></h5>

</div>