	<p>Difficulty: <%= @project.difficulty %><br />
	   Time to complete: <%= @project.duration %> <%= @project.duration_unit %><br />
	   Makes: <%= @project.batch_size %>  <%= @project.batch_unit %><br />
	   Rating: <%= rating_for @project, "overall", disable_after_rate: true, :half_show => true %></p>