<div class = 'section'>
	<h2>Instructions</h2>
	<ul class="no-bullet steps-ul">
	  <% @project.steps.each do |step|%>
	    <li>
	      <div class="row">
	        <div class="large-1 column no-collapse">
						<h5><%= step.ordinal %></h5>
	        </div>

	        <div class="large-9 column">
						<h5><%= step.content %></h5>
	        </div>

	        <div class="large-2 column">
	          <span class="count-icon">
	            <%= link_to("javascript:void(0)", "data-step-id" => step.id, "data-comments" => step.comments.to_json, :class => "filter-step-comments") do %>
	              <%= image_tag("/svg/chat35.svg", :alt => "Instruction comments", :width => 30, :height => 30, :title => "Instruction comments") %>
	              <span class="count"><%= step.comments.length %></span>             
	            <% end %>
	          </span>
	          <%= link_to(image_tag("/svg/plus35.svg", :alt => "Add comment", :width => 20, :height => 20, :title => "Add comment"), "javascript:null", :class => "add-comment-step", "data-step-id" => step.id) %>
	        </div>
	        
	      </div>
	    </li>

	    <li id='<%= "add-comment-step#{step.id}" %>' style="display:none;">
	      <div class="panel">
	        <h5>This is a regular panel.</h5>
	        <p>It has an easy to override visual style, and is appropriately subdued.</p>
	      </div>
	    </li>

	  <% end %> 
	</ul>
</div>


