<div id="new-conversation<%= comment.id %>" style="display: none;" class="new-conversation-comment">
	<div class="modal-container-conv-comment">
		<h3 class="send-message-to">Send a message to <%= comment.user.full_name %></h3>
		<%= form_for Conversation.new, :html => { :id => "new_conversation_comment"}, remote: true do |f| %>
		  <%= f.text_field :subject, placeholder: "Subject" %>

	    <%= f.fields_for Conversation.new.messages.new do |m| %>
	      <%=m.text_field :body, placeholder: "Message" %>
	    <% end %>

		  <%= f.hidden_field :receiver, :value => comment.user.id %>
		  <%= f.hidden_field :read, :value => false %>
		  <%= f.hidden_field :user_id, :value => current_user.id %>
		  <%= f.submit "Send", id: "reply-button", class: "button" %>
		<% end %>

	</div>
</div>
