<% @all_comments.each do |comment| %>
	<div class="element <%= comment.commentable_type %> <%= comment.commentable_id %>" style="display:none;">
		<%= link_to(image_tag(comment.user.avatar, width: '10%'), "/users/#{comment.user.id}") %>	
		<%= comment.user.first_name %> <%= comment.user.last_name %>					
		<%= comment.content %>
		<%= comment.created_at.to_datetime %>	
		<small>(<%= comment.commentable_type %>)</small>		
		<hr>
	</div>
<% end %>