<% @all_comments.each do |comment| %>
	<div class="element <%= comment.commentable_type %> <%= comment.commentable_id %> individual-comment">
    <hr>
    <div>
		  <%= link_to(image_tag(comment.user.avatar, width: '10%'), "/users/#{comment.user.id}") %>
    </div>				
    <div class = "individual-comment-content">
  		<p><%= comment.content %></p>
      <p><%= link_to comment.user.full_name, user_path(comment.user.id) %>
        <% if current_user.id != comment.user.id %>
           | <a href="#new-conversation-comment" rel="conversationCommentModal<%= comment.id %>" style="color: #b2230a">Send Message</a>
        <% end %>
       | <span class="timestamp"><i><small><%= comment.commentable_type %> comment from <%= comment.created_at.to_datetime.strftime("%m/%d/%Y") %></small></i></span>
     </p>
    </div>
	</div>
  <%= render :partial => "new_conversation_modal", collection: @all_comments, locals: {comment: comment} %>

  <script>
    $(function($){
      $('<%= "a[rel*=conversationCommentModal#{comment.id}]" %>').leanModal({ top : 200, overlay : 0.4, closeButton: ".modal_close" });
    })
  </script>

<% end %>



