<% @all_comments.each do |comment| %>
	<div class="element <%= comment.commentable_type %> <%= comment.commentable_id %> individual-comment">
		<!-- CHECK FOR HELPER ROUTE -->
    <div>
		  <%= link_to(image_tag(comment.user.avatar, width: '10%'), "/users/#{comment.user.id}") %>
    </div>				
    <div class = "individual-comment-content">
  		<p><%= comment.content %></p>
      <p><%= comment.user.full_name %> | <span class="timestamp"><%= comment.created_at.to_datetime %></span></p>	
  		<small>Left on (<%= comment.commentable_type %>)</small>		
  		<hr>
    </div>
	</div>
<% end %>