<% @all_comments.each do |comment| %>
	<div class="element <%= comment.commentable_type %> <%= comment.commentable_id %> individual-comment">
    <hr>
    <div>
		  <%= link_to(image_tag(comment.user.avatar, width: '10%'), "/users/#{comment.user.id}") %>
    </div>				
    <div class = "individual-comment-content">
  		<p><%= comment.content %></p>
      <p><%= link_to comment.user.full_name, user_path(comment.user.id) %>
        <% if current_user.id != comment.user.id %>
           | <a class="new-conversation-comment" style="color: #b2230a" data-receiver-id=<%= comment.user_id %> data-user-id=<%= current_user.id %> data-receiver-name = <%= comment.user.full_name %>>Message</a>
        <% end %>
       | <span class="timestamp"><i><small><%= comment.commentable_type %> comment from <%= comment.created_at.to_datetime.strftime("%m/%d/%Y") %></small></i></span>
     </p>
    </div>
	</div>
<% end %>





