<ul class="no-bullet ing-ul">
  <% @equipment.each do |equip|%>
    <li>
      <div class="row">
        <% if equip.availability %>

          <div class="large-1 column no-collapse">
            <input type="checkbox" class="shopify_cart" data-shopifyid = <%= equip.shopify_id %> data-quantity = <%= equip.shopify_unit %>></input>
          </div>

          <div class="large-9 column">
            <h5 style="display:inline;"><%= equip.unit_size %> <%= equip.unit_measure %>  <%= equip.name %></h5>
          </div>

        <% else %>
          <div class="large-1 no-collapse column">   </div>
          <div class="large-9 column">
            <h5 style="display: inline;"><%= equip.unit_size %> <%= equip.unit_measure %>  <%= equip.name %></h5>
          </div>
        <% end %>

        <div class="large-2 column">
          <span class="count-icon">
            <%= link_to("javascript:void(0)", "data-equip-id" => equip.id, "data-comments" => equip.comments.to_json, :class => "filter-equip-comments") do %>
              <%= image_tag("/svg/chat35.svg", :alt => "Instruction comments", :width => 30, :height => 30, :title => "Instruction comments") %>
              <span class='<%= "equip-count #{equip.id}" %>'><%= equip.comments.length %></span>             
            <% end %>
          </span>
          <%= link_to(image_tag("/svg/plus35.svg", :alt => "Add comment", :width => 20, :height => 20, :title => "Add comment"), "javascript:null", :class => "add-comment-equip", "data-equip-id" => equip.id) %>
        </div>
        
      </div>
    </li>
    <li id='<%= "add-comment-equip#{equip.id}" %>' style="display:none;">
      <div class="panel">
        <% if current_user %>
          <h5>Add a comment:</h5>
          <%= form_for equip.comments.new,:html => { :class => "equip-comment-id" }, remote: true do |f| %>
            <%= f.text_area :content, placeholder: "Comment on this ingredient.", id: "equip-comment-content" %>
            <%= f.hidden_field :commentable_type %>
            <%= f.hidden_field :commentable_id %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :project_id, :value => @project.id %>
            <%= f.submit "Comment", class: "button equip-comment-button", data: {"equip_id" => equip.id}%>
          <% end %>
        <% else %>
          <h5>You must be logged in to make a comment.</h5>
          <a href ="/auth/facebook" class = 'button radius'>Login with Facebook</a>
        <% end %>
      </div>
    </li>
  <% end %> 
</ul>