<div class='row'>
  <div class='large-5 columns'>
    <div class='project-details'>
      <%= render 'projects/name_description' %>
      <%= render 'projects/details' %>
    </div>
    <div class='row project-module section'>
      <div class='large-4 columns' >
        <%= render 'projects/community_summary' %>
      </div>
      <div class='large-8 columns' >
        <%= render 'projects/social_toolbar' %>
      </div>
    </div>
    <%= render 'projects/instructions' %>
    <%= render 'projects/supplies' %>
    <%= render 'projects/images' %>
    <%= render 'projects/popular' %>
  </div>

  <div class='large-7 columns'>
    <%= render 'projects/video' %>
    <%= render 'projects/video_comments' %>
    <%= render 'projects/comments' %>
  </div>
</div>
