<!DOCTYPE html>
<html>
<head>
  <style>
  </style>
</head>
<body>
       <%= render 'projects/video' %>
     <div>
      <%= render  'projects/video_comments' %>
    </div>   
    <div>
      <%= render  'projects/steps' %>
    </div>
    <div>
       <%= render 'projects/ingredients' %>
    </div>
    <div>
       <%= render 'projects/general_comments' %>
    </div>
    <div>
       <%= render 'projects/gallery' %>
    </div>
  </body>
</html>