<!DOCTYPE html>
<html>
<head>
  <title>HeApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"%>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>



<%= yield %>

</body>
