<!DOCTYPE html>
<html>
<head>
  <title>HeApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script>APP = {userAvatar: "<%= current_user.avatar %>", userName: "<%= current_user.first_name %> <%=current_user.last_name %>"}</script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= render 'layouts/navigation' %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= yield %>

</body>
